
<div class="row" id="post_view">
    <div class="post-view-content">
        <header>
            <div class="pull-right" id="post_view_close">X</div>
            <h3 id="post_title"></h3>
        </header>
        <div id="post_link"></div>
        <div id="post_video" class="embed-responsive embed-responsive-16by9"></div>
        <div id="post_content"></div>
        <div id="post_caption"></div>
        <footer>

        </footer>
    </div>
</div>