
<div class="row" id="post_view">
    <div class="post-view-content">
        <div id="post_title">Test</div>
        <div id="post_link"></div>
        <div id="post_content"></div>
        <div id="post_caption"></div>
    </div>
</div>