<div class="container-fluid pull-left admin-box"><a href="{{ path("main_admin") }}">Admin dashboard</a></div>
<div class="container-fluid text-right admin-box"><span class="admin-message">You are logged in admin</span></div>
