{% extends ('::base.html.twig')  %}
{% block body %}
    <div class="row">
        {% for post in posts %}
            {{ include("MainBundle:Post:onePost.html.twig") }}
        {% endfor %}
    </div>

    {{ include("MainBundle:Post:view.html.twig") }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/post-view.js') }}"></script>
{% endblock %}